*
!.*
!xmonad.hs
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bash_profile
.epsxe/.epsxerc
.fehbg
.fifa/.update-timestamp
.fifa13/.update-timestamp
.gksu.lock
.gtk-bookmarks
.gtkrc-2.0
.minecraft
.nvidia-settings-rc
.pulse-cookie
.recently-used
.slime
.vim/.netrwhist
.viminfo
.wine/.update-timestamp
.xmobarrc.light
.xsession-errors
.lesshst
