URxvt*termName:         rxvt-256color
URxvt.scrollBar: false 
URxvt.font: xft:agave-10:regular
URxvt.depth: 16
URxvt*.transparent:     true
URxvt*.shading:         10
#include ".terminalcolors/xresources_light"
